/* All styles for your Card Components live here */

div{
  border:1px solid black;
  display: flex;
  flex-direction: column;
  width:575px;
  height: 100%;
}

#ban{
  flex-direction: row;
}
.fas{

font-size: 100px;
}