/* All styles for your header Components live here */
.headerContainer{
    display: flex;
}

.headerContainer img{
    width: 100%;
}

.headerTitle {
    padding-left: 5px;
}

.headerTitle span{
    color: gray;
    font-size: 0.8rem;
}

.headerTitle h3{
    margin: 0;
}

.headerTitle p{
    margin-top: 5px;
}